@model InterviewResponseModel;
<div class="container">
    <form asp-controller="Interview" asp-action="Edit" method="post">
        <input type="hidden" asp-for="Id" />
        <div class="my-5 row">
            <label for="SubmissionId">SubmissionId</label>
            <input asp-for="SubmissionId" class="form-control" />
            <span asp-validation-for="SubmissionId"></span>
        </div>
        <div class="my-5 row col-12">
            <label for="InterviewDate">InterviewDate</label>
            <input asp-for="InterviewDate" class="form-control" />
            <span asp-validation-for="InterviewDate"></span>
        </div>
        <div class="my-5 row col-12">
            <label for="InterviewRound">InterviewRound</label>
            <input asp-for="InterviewRound" class="form-control" />
            <span asp-validation-for="InterviewRound"></span>
        </div>
        <div class="my-5 row col-12">
            <label for="InterviewTypeId">InterviewTypeId</label>
            <input asp-for="InterviewTypeId" class="form-control" />
            <span asp-validation-for="InterviewTypeId"></span>
        </div>
        <div class="my-5 row col-12">
            <label for="InterviewStatusId">InterviewStatusId</label>
            <input asp-for="InterviewStatusId" class="form-control" />
            <span asp-validation-for="InterviewStatusId"></span>
        </div>
        <div class="my-5 row col-12">
            <label for="InterviewerId">InterviewerId</label>
            <input asp-for="InterviewerId" class="form-control" />
            <span asp-validation-for="InterviewerId"></span>
        </div>
        <input type="submit" value="Update Interview" class="btn btn-primary" />
    </form>
</div>

